:root {
    --dark-color: rgb(25, 0, 95);
    --light-color: rgb(164, 139, 235);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 35px 10px 0px;
    background: var(--dark-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    background: var(--light-color);
    padding: 10px 10px 10px 50px;
    color: var(--dark-color);
    margin: 0;
}


header nav {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--light-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    position: relative;
   z-index: 1;
}


header nav ul li a:before {
    content: "";
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 13px;
    bottom: 0;
    width: 75%;
    padding-top: 10px;
    border-bottom: 2px solid var(--light-color);

}

header nav ul li a:hover {
    transition-duration: 0.3s;
}